@charset "utf-8";
/* CSS Document */

#wrapper {
    width: 100%;
    margin: auto auto;
    font-size: 1em;
    max-width: 900px;
    background: #FFF;
}

h1 {
    margin-bottom: -10px;
}

section p {
    float: right;
    margin-top: 100px;
    width: 300px;
}

section p span {
    font-size: 16px;
    text-transform: uppercase;
}

section canvas {
    float: left;
    width: 545px;
}
